*.sdf
*.7z
**/build/*
.idea/*
.cache/*
.clangd
.clang*/
*.chat/

**/dist/*
*.chat/*
*.so
*.lib
cmake-build-debug/*
cmake-build-release/*
.vscode/*
.marscode/*
**/cmake_build/*
**/ninja_build/*
**/make_build/*

*.o
**/bin/*

*time.log
*compile.log
**/b2_build/*
*.log